<div class="row">
                        <br />
                        <div class="col-md-6">
                            <div class="row">
                                <?php foreach ($metaDataAbout1 as $meta) { ?>
                                    <div class="col-md-6">
                                        <strong><?php echo $meta->title; ?></strong>
                                    </div>
                                    <div class="col-md-6">
                                        <?php
                                        $data = str_replace('||', ',', metaData::getMetaValue($meta->id, $user_id));
                                        if ($data) {
                                            echo $data;
                                        } else {
                                            echo '-----';
                                        }
                                        ?>
                                    </div>
                                    <br />
                                    <br />
                                <?php } ?>
                                <?php foreach ($metaDataAbout as $meta) { ?>
                                    <?php if ($meta->id == 87) { ?>
                                        <div class="col-md-6">
                                            <strong><?php echo $meta->title; ?></strong>
                                        </div>
                                        <div class="col-md-6">
                                            <?php
                                            $data = str_replace('||', ',', metaData::getMetaValue($meta->id, $user_id));
                                            if ($data) {
                                                echo $data;
                                            } else {
                                                echo '-----';
                                            }
                                            ?>
                                        </div>
                                        <br />
                                        <br />
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="row">
                                <?php foreach ($metaDataAbout2 as $meta) { ?>
                                    <div class="col-md-6">
                                        <strong><?php echo $meta->title; ?></strong>
                                    </div>
                                    <div class="col-md-6">
                                        <?php
                                        $data = str_replace('||', ', ', metaData::getMetaValue($meta->id, $user_id));
                                        if ($data) {
                                            echo $data;
                                        } else {
                                            echo '-----';
                                        }
                                        ?>
                                    </div>
                                    <br />
                                    <br />
                                <?php } ?>
                            </div>
                        </div>
                    </div>
