/* jQuery Resize And Crop (jrac) */

.jrac_container {
margin: auto;
padding-right: 10px;
}

.jrac_viewport {
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  width:640px;
  height:480px;
  margin: auto;
  background-image: url('images/viewport_background.gif');
}

.jrac_loading {
  background-image: url('images/loading.gif');
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

.jrac_crop {
  position: absolute;
  border: 2px solid black;
}

.jrac_crop_drag_handler {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #fff;
  opacity: .1; /* FX/Opera/Safari/Chrome */
  -ms-filter: "alpha(opacity=10)"; /* IE8 */
  filter: alpha(opacity = 10); /* IE6/IE7 */
}

.jrac_viewport img, .jrac_crop_drag_handler {
  cursor: pointer;
}

/* clearfix */
#image_crop .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#image_crop .clearfix {
  display: inline-block;
  width: 100%;
}

html[xmlns] #image_crop .clearfix {
  display: block;
}

* html #image_crop .clearfix {
  height: 1%;
}



/* The pane holding the image */
#image_crop .submit{
    margin: auto;
    text-align: center;
}
#image_crop  .pane>table {
  margin:1em;
}
#image_crop  .pane>table td {
  text-align: right;
  padding-right: .5em;
}
#image_crop pre.code {
  padding:1em;
  margin:0;
  background-color: #eee;
  border:1px dashed #ccc;
}

/* Override some jrac css */
.jrac_viewport {
  width:800px;
  height:500px;
}
.jrac_viewport img{

}

.coords tr td{
text-align:left;
}
.coords{

}
.ui-resizable-handle{
    background-image: url("images/sprites1.png");
    background-position: 0 -1428px;
    background-repeat: no-repeat;
    cursor: se-resize;
    display: block;
    float: right;
    height: 12px;
    margin-top: 9px;
    width: 12px;
}
